$color-white: #ffffff;
$color-black: #000000;
$color-primary: #84A2EF;
$color-background: #E33030;
$color-background-two: #303030;
$color-active: #007c5d;
$color-grey: #808080;
$color-border: #555;
$color-error: red;


$content-width: 1550px;
$laptop-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;