$color-white: #ffffff;
$color-black: #000000;
$color-primary: #E47209;;
$color-one: #6fc767;
$color-background: #ffffff;
$color-active: #007c5d;
$color-grey: #c2c2c2;
$color-border: #555;
$color-error: red;


$content-width: 1550px;
$laptop-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;