@mixin font ($size, $height,$style,$color, $weight: bold) {
    font-size: $size;
    font-weight: $weight;
    font-family: $style;
    color: $color
}

@mixin theme($theme: rgb(68, 45, 173)) {
    box-shadow: 0px 2px 6px $theme;
  }

@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}

@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
  
@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}
